body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

nav {
  background: #020617;
  padding: 15px;
}

.hero {
  padding: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.linkedin-btn {
  background: #0077b5;
  color: white;
}

.github-btn {
  background: #333;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.projects {
  margin-top: 40px;
}

.project-card {
  background: #1e293b;
  margin: 10px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.dashboard {
  margin-top: 40px;
}

.contact {
  margin-top: 40px;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background: #020617;
}